#~/.xprofile

# xrandr settings
xrandr --output DisplayPort-1 --primary --auto --output HDMI-A-1 --left-of DisplayPort-1 --auto

# wallpaper
nitrogen --restore &

# cursor settings
xrdb /home/philipp/.Xresources

# compositor
picom &

# screen locker
light-locker &
