/* Variables */
@define-color black #040303;
@define-color gunmetal #1f2926;
@define-color grey1 #3a4e48;
@define-color grey2 #6a7b76;
@define-color green #8b9d83;
@define-color ash #a5a795;
@define-color silver #beb0a7;

* {
  font-family: "NotoSans Nerd Font", FontAwesome, sans-serif;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  color: white;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

.module {
  padding: 1px 10px;
  margin: 0;
}

#workspaces {
  background-color: @grey1;
}

#workspaces button {
  margin: 0 5px;
  color: white;
}

#workspaces button.visible {
  border-bottom: 3px solid white;
}

#window {
  background-color: @grey2;
}

#tray {
  background-color: @grey2;
}

#clock {
  background-color: @gunmetal;
}

#wireplumber {
  background-color: @ash;
  color: black;
}

#bluetooth {
  background-color: @green;
  color: black;
}

#idle_inhibitor {
  background-color: @silver;
  color: black;
}

#cpu {
  background-color: @gunmetal;
}

#memory {
  background-color: @black;
}

#temperature {
  background-color: @grey1;
}

#custom-power-menu {
  background-color: @black;
}
